services:
  whatsappapi:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      ASPNETCORE_URLS: "http://0.0.0.0:8080"
    restart: always

  ngrok:
    image: ngrok/ngrok:latest
    command: http whatsappapi:8080
    environment:
      NGROK_AUTHTOKEN: "31u7rYCQrj0EB8kl5mehKpYBH0y_2Js2hqPbge8w1EAtW865v"
    ports:
      - "4040:4040"
    depends_on:
      - whatsappapi
